<div class="row">
  <div class="col-md-12">
    <hr style="background-color:black;color:black;border-color:black">
    <h3> Manager Section </h3>
    <hr style="background-color:LightGray;color:LightGray;border-color:LightGray">
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-striped" id="manager_table">
      <thead>
      <tr>
        <th>User</th>
      </tr>
      </thead>
      <tbody>
      <% @non_manager.each do |user| %>
          <tr>
            <td><%= link_to user.get_name, user %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <hr style="background-color:LightGray;color:LightGray;border-color:LightGray">
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-12">
    <% if @analysis and not @analysis.empty? %>
        <%= render 'analysis' %>
    <% end %>
  </div>
</div>