<h1>Listing modellings</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @modellings.each do |modelling| %>
      <tr>
        <td><%= link_to 'Show', modelling %></td>
        <td><%= link_to 'Edit', edit_modelling_path(modelling) %></td>
        <td><%= link_to 'Destroy', modelling, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Modelling', new_modelling_path %>
