<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<p>
      The status of: <%= @request.title %> [<%= @request.id %>], has changed to: <%= @request.status %>.
		</p>
		<p>
			To view the change go to: <%= link_to @request.title, root_url + "requests" %>
		</p>
	</body>
</html>
