<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<p> 
			An edit has been made to: <%= @request.title %>.		
		</p>
		<h3>The following fields have been edited:</h3>
		<p>
			<%= @request.get_version_latest %>
		</p>
		<p>
			To view the change go to: <%= link_to @request.title, root_url + "requests" %>
		</p>
	</body>
</html>