@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";
@import "dataTables.bootstrap";
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";

.border-form-div {
  max-width: 315px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.mandatory {}

.mandatory:after {
   /* Empty content, but required for pseudo element to display */
   content: "*  ";
   padding-top: 1px;

   /* Size of star within sprite */
    vertical-align: top;
    margin-right: -4px;
    font-size: 20px;
    color: #d35400;
}

.bordered-tab-contents > .tab-content > .tab-pane {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
}

.bordered-tab-contents > .nav-tabs {
  margin-bottom: 0;
}

.modal-dialog {
  width: auto;
  min-width: 300px;
}